.navigationarea {
    background-color: #C271FF;
    border: red solid 2px;

    input.form-control {
        color: white;
        font-size: 20px;
        background-color: #c89af9;
    }

    button {
        color: rgb(255, 255, 255);
        background-color: #c89af9;
    }


        h1 {
            font-size: 16px;
            text-align: left;
            font-family: Source Sans Pro-light;
            color: white;
        }
}