@import '../fonts';

.header {
    background: url(../images/pic_1.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-color: #071728;

    .GetSchooled h1 {
        margin-top: 200px;
        font-family: Source Sans Pro-Bold;
        font-size: 61px;
        color: white;
    }

    .GetSchooled p {
        font-family: Source Sans Pro-SemiBold;
        font-size: 20px;
        word-spacing: 50px;
        color: white;
    }

    .buttoncontainer {
        margin-top: 40px;
    }
}