.videogallery {
    background-color: white;

    .videoheader {
        margin-top: 50px;
        margin-bottom: 50px;
        
        h1 {
            font-family: Source Sans Pro-Light;
            font-size: 40px;
        }
    }
}
