.allthreebuttons {

    h1 {
        color: white;
        font-family: Source Sans Pro-semibold;
        margin-top: 35px;
        font-size: 40px;
    }
    p {
        font-family: Source Sans Pro-light;
        color: white;
        font-size: 15px;
        margin-bottom: 30px;
    }
}

.allthreegrids {
    margin: px;
    .spaceleft {
        h1 {
            height: 90px;
            font-family: Source Sans Pro-light;
            font-size: 20px;
            color: white;
        }
        div {
            height: 100px;
            border-bottom: white solid 1px;
        }
    }

.checkmiddle {

    .svgcheck {
        // padding: 20px;
        height: 100px;
        border-bottom: solid white 1px;
    }
}

.checkright {

    .svgcheck {
        // padding: 20px;
        height: 100px;
        border-bottom: solid white 1px;
    }

    }
}