.allthreebuttons {
    outline: green solid 2px;

    h1 {
        color: white;
        font-family: Source Sans Pro-semibold;
        margin-top: 35px;
        font-size: 40px;
    }

    p {
        font-family: Source Sans Pro-light;
        color: white;
        font-size: 15px;
        margin-bottom: 30px;
    }
}