@import '../fonts';

@import '../fonts';

.header {
    background: url(../images/pic_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #071728;

    li {
        font-family: Source Sans Pro;
    }
    



    .whatis h1 {
        margin-top: 150px;
        font-family: Source Sans Pro;
        font-size: 37px;
        letter-spacing: 2;
        color: white;
        margin-bottom: 70px;
    }

    .whatis p {
        font-family: Source Sans Pro-Bold;
        color: white;
        font-size: 80px;
        
    }

    .buttoncontainer {
        margin-top: 40px;
    }
    
}

.griddiv {

    .gridsheet {
        border-bottom: white solid 2px;

        p {
            color: white;
            font-family: Source Sans Pro-light;
            font-size: 18px;
            outline: blue solid 2px;
        }

        svg {
            outline: green solid 2px;
        }


    }




}

.buttonsrow {
    outline: red solid 3px;

    .buttoncontainer {
        outline: blue solid 3px;
    }
}