@font-face {
    font-family: Source Sans Pro;
    src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: Source Sans Pro-Black;
    src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}

@font-face {
    font-family: Source Sans Pro-SemiBold;
    src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: Source Sans Pro-Bold;
    src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}

@font-face {
    font-family: Source Sans Pro_Lightit;
    src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}

@font-face {
    font-family: Source Sans Pro-Light;
    src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}

@font-face {
    font-family: Source Sans Pro-ExtraLight;
    src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}