.schooledbutton {
  color: #FFF;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  height: 50px;
  align-content: center;
  justify-content: center;
  font-size: 16px;
  padding: 1em 2.5em 1em 2.5em;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  background: #C271FF;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  white-space: nowrap;
}

.schooledbutton:hover {
  color: #C271FF;
  transition: 0.2s;
  transform: scale(1.02);
  background-color: white;
  box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1), 0 0.4em 1em rgba(0, 0, 0, 0.1), 0 0.4em 1em rgba(0, 0, 0, 0.1), 0 0.4em 1em rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: Source Sans Pro-Black;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Source Sans Pro-SemiBold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: Source Sans Pro-Bold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: Source Sans Pro_Lightit;
  src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
  font-family: Source Sans Pro-Light;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
  font-family: Source Sans Pro-ExtraLight;
  src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: spincycle_ot;
  src: url(../Fonts/source-sans-pro/Coiny-Regular.ttf);
}
.mainheader {
  background: url(../images/pic_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #071728;
}
.mainheader a {
  color: white;
  font-family: Source Sans Pro;
}
.mainheader a:hover {
  font-family: Source Sans Pro;
  color: white;
}
.mainheader .GetSchooled h1 {
  margin-top: 200px;
  font-family: Source Sans Pro-Bold;
  font-size: 110px;
  color: white;
}
.mainheader .GetSchooled p {
  font-family: Source Sans Pro-SemiBold;
  font-size: 20px;
  word-spacing: 50px;
  color: white;
}
.mainheader .buttoncontainer {
  margin-top: 40px;
}
.mainheader .learnfrompros {
  margin-top: 230px;
}
.mainheader .learnfrompros .learn {
  font-family: Source Sans Pro-Light;
}
.mainheader .proprofile {
  margin-top: 70px;
}
.mainheader .proprofile .profile h1 {
  font-family: Source Sans Pro-Black;
  font-size: 18px;
  margin-top: 10px;
}
.mainheader .proprofile .profile p {
  font-family: Source Sans Pro_Lightit;
  padding: 0px;
}

.quoteguys {
  background-color: #C271FF;
}
.quoteguys .carousel-item {
  margin-top: 50px;
}
.videogallery {
  background-color: white;
}
.videogallery .videoheader {
  margin-top: 50px;
  margin-bottom: 50px;
}
.videogallery .videoheader h1 {
  font-family: Source Sans Pro-Light;
  font-size: 40px;
}

.card {
  position: relative;
}
.card .playbutton {
  position: absolute;
  left: 27%;
  top: 7%;
}

.card-body .card-title {
  font-family: Source Sans Pro-Bold;
  font-size: 20px;
}
.card-body .card-text {
  font-size: 15px;
  font-family: Source Sans Pro-Light;
}
.card-body .username {
  margin-bottom: 20px;
}
.card-body .username img {
  margin-right: 20px;
}
.card-body .username p {
  font-family: Source Sans Pro-SemiBold;
  margin-top: 12px;
  color: #C271FF;
}
.card-body .starsandlength p {
  color: #C271FF;
  font-family: Source Sans Pro-SemiBold;
  margin-left: 35px;
}

.membership {
  margin-top: 30px;
  background-color: #071629;
}
.membership .title {
  color: white;
  font-size: 30px;
  font-family: Source Sans Pro;
  margin-bottom: 100px;
  padding-top: 60px;
}
.membership .profile {
  margin-bottom: 70px;
}
.membership .profile h1 {
  font-family: Source Sans Pro;
  color: white;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.membership .profile p {
  color: white;
  font-family: Source Sans Pro-Light;
}

footer {
  background-color: #071629;
  display: flex;
}
footer .medialogos {
  margin-left: 200px;
}
footer .medialogos img {
  color: white;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: Source Sans Pro-Black;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Source Sans Pro-SemiBold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: Source Sans Pro-Bold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: Source Sans Pro_Lightit;
  src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
  font-family: Source Sans Pro-Light;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
  font-family: Source Sans Pro-ExtraLight;
  src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: spincycle_ot;
  src: url(../Fonts/source-sans-pro/Coiny-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: Source Sans Pro-Black;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Source Sans Pro-SemiBold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: Source Sans Pro-Bold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: Source Sans Pro_Lightit;
  src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
  font-family: Source Sans Pro-Light;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
  font-family: Source Sans Pro-ExtraLight;
  src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: spincycle_ot;
  src: url(../Fonts/source-sans-pro/Coiny-Regular.ttf);
}
.header {
  background: url(../images/pic_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #071728;
}
.header a {
  color: white;
  font-family: Source Sans Pro;
}
.header a:hover {
  font-family: Source Sans Pro;
  color: white;
}
.header .whatis h1 {
  margin-top: 150px;
  font-family: Source Sans Pro;
  font-size: 37px;
  letter-spacing: 2;
  color: white;
  margin-bottom: 70px;
}
.header .whatis p {
  font-family: Source Sans Pro-Bold;
  color: white;
  font-size: 80px;
}
.header .buttoncontainer {
  margin-top: 40px;
}

.griddiv .gridsheet {
  border-bottom: white solid 2px;
}
.griddiv .gridsheet p {
  color: white;
  font-family: Source Sans Pro-light;
  font-size: 18px;
  outline: blue solid 2px;
}
.griddiv .gridsheet svg {
  outline: green solid 2px;
}

.buttonsrow {
  outline: red solid 3px;
}
.buttonsrow .buttoncontainer {
  outline: blue solid 3px;
}

.allthreebuttons h1 {
  color: white;
  font-family: Source Sans Pro-semibold;
  margin-top: 35px;
  font-size: 40px;
}
.allthreebuttons p {
  font-family: Source Sans Pro-light;
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
}

.allthreegrids {
  margin: 30px;
}
.allthreegrids .spaceleft h1 {
  height: 90px;
  font-family: Source Sans Pro-light;
  font-size: 20px;
  color: white;
}
.allthreegrids .spaceleft div {
  height: 100px;
  border-bottom: white solid 1px;
}
.allthreegrids .checkmiddle .svgcheck {
  padding: 20px;
  height: 100px;
  border-bottom: solid white 1px;
}
.allthreegrids .checkright .svgcheck {
  padding: 20px;
  height: 100px;
  border-bottom: solid white 1px;
}

.FAQ {
  background-color: white;
}
.FAQ .title {
  margin-top: 100px;
  font-family: Source Sans Pro-light;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.howdiswork {
  margin-bottom: 30px;
}
.howdiswork h1 {
  font-family: Source Sans Pro-Bold;
  font-size: 20px;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
}
.howdiswork p {
  font-family: Source Sans Pro-light;
  min-width: 300px;
  max-width: 400px;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: Source Sans Pro-Black;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Source Sans Pro-SemiBold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: Source Sans Pro-Bold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: Source Sans Pro_Lightit;
  src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
  font-family: Source Sans Pro-Light;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
  font-family: Source Sans Pro-ExtraLight;
  src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: spincycle_ot;
  src: url(../Fonts/source-sans-pro/Coiny-Regular.ttf);
}
@font-face {
  font-family: Source Sans Pro;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: Source Sans Pro-Black;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Black.otf);
}
@font-face {
  font-family: Source Sans Pro-SemiBold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Semibold.otf);
}
@font-face {
  font-family: Source Sans Pro-Bold;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: Source Sans Pro_Lightit;
  src: url(../Fonts/source-sans-pro/SourceSansPro-LightIt.otf);
}
@font-face {
  font-family: Source Sans Pro-Light;
  src: url(../Fonts/source-sans-pro/SourceSansPro-Light.otf);
}
@font-face {
  font-family: Source Sans Pro-ExtraLight;
  src: url(../Fonts/source-sans-pro/SourceSansPro-ExtraLight.otf);
}
@font-face {
  font-family: spincycle_ot;
  src: url(../Fonts/source-sans-pro/Coiny-Regular.ttf);
}
.coursesheader {
  background: url(../images/pic_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #071728;
}
.coursesheader a {
  color: white;
  font-family: Source Sans Pro;
}
.coursesheader a:hover {
  font-family: Source Sans Pro;
  color: white;
}

.dontcry {
  font-family: spincycle_ot;
  color: white;
  margin-top: 50px;
  padding-bottom: 50px;
}/*# sourceMappingURL=styles.css.map */