.container {
    outline: red solid 2px;
}

.spaceleft {
    outline: green solid 2px;
}

.checkmiddle {
    outline: blue solid 2px;
}

.checkright {
    outline: purple solid 3px;
}

.allthreegrids h1{
    font-size: 20px;
    margin-bottom: 60px;
}